#header {
    text-align: left;
    max-width: 1200px;
    width: 85%;
    margin: 0 0 0 15%;
    padding: 2em 3em;
}

.logo {
    font-size: 3em;
    font-family: 'Public Sans';
    font-weight: 900;
    text-transform: uppercase;
    /* text-align: center; */
}

body {
    background: #f7f7f7
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 0 0 15%;
    background: white;
    padding: 2em 3em;
}

nav.menu ul {
    margin: 2em auto;
    /* text-align: center */
}

nav.menu li {
    list-style: none;
    display: inline-block;
    margin: 0 10px
}

nav.menu li a:hover {
    border-bottom: 2px solid black;
    color: #d80b0b !important;
}

pre {
    border-radius: 4px;
}

pre > code {
}

pre code p {
    font-family: "Public Sans", sans-serif;
    margin: 0;
}

.container .row.demo {
    margin: 10px 0;
    padding: 0 1.0rem;
}

.container .row .column.demo {
    background: gainsboro;
    margin: 10px;
    border-radius: 2px;
    padding: 10px 20px;
}

.post-card {
    padding: 0.5em 0 5em 0;
}

.menu_rules li {
    display: block;
    margin: 1em 0.3em 0.9em;
}

.menu_rules li a {
    color: black;
    background: #f1f1f1;
    padding: .3em 0.8em;
    border-radius: 4px;
}

.menu_rules {
    font-size: 1em;
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    padding: 1em 1em 0.4em;
    z-index: 1;
    height: 100%;
}

.menu_rules ul {
    padding: 0;
    margin: 0;
}

main article {
    border: 1px solid #f1f1f1;
    /* padding: 1em; */
    margin: 1em auto;
    border-radius: 4px;
}

main article > div {
    background: #ffffff;
    padding: 1em;
}

main article header h4 {
    background: #efefef;
    margin: 0;
    padding: .3em 0.7em;
}

.post-card .bloccolor {
    display: block;
    width: 100%;
    padding: 0.6em;
    margin: 0.7em 0;
    border-radius: 5px;
}

.the-icons {
    justify-content: space-between;
    width: 25%;
}

span.i-code {
    display: none;
}

i.demo-icon {
    font-size:1.4em
}

span.i-name {
    font-size: 0.8em;
    margin-left: 0.9em;
}