{% extends "head.html" %}
{% block page_content %}
<div class="post-card">
    {% for post in posts %}
    <h2><a href="{% url 'boot_rules_detail' post.pk%}">{{ post.title }}</a></h2>
    <p>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'boot_rules_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </p>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}
