{% extends "head.html" %}
{% block page_content %}
<div class="post-card">
    {% for post in posts %}
    <h3>{{ post.title }}</h3>
    <!--<a href="{% url 'boot_rules_detail' post.pk%}">{{ post.title }}</a>
	<p>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'boot_rules_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </p>
    -->
    <p>{{ post.body | safe }}</p>
    <p>{{ post.element }}</p>
    <pre><code>{{ post.scss | linebreaks }}</code></pre>

    {% endfor %}
</div>
{% endblock %}
