<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	{% load static %}
	{% load sass_tags %}
	<title>BS Bootstrap</title>
	<meta name="keywords" content="BS bootstrap" />
	<meta name="description" content="A simple website showcasting a minimal Sass bootstrap" />
	<meta name="author" content="Bastien Sozeau" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 minimal-ui">
	<meta property="og:image" content="{% static 'img/screenshot.png' %}"/>
	<meta property="og:title" content="BS bootstrap"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://bootstrap.sozoo.fr/"/>
	<link rel="icon" href="{% static 'img/favicon.png' %}" />
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Public+Sans:400,400i,700,900&display=swap" rel="stylesheet">
	<script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
	<link rel="stylesheet" href="{% static 'css/site-style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/prism.css' %}">
	<link href="{% sass_src 'sass/style-1.sass' %}" rel="stylesheet" type="text/css" />
</head>
<body>
	<header id="header">
		<div class="logo">BS_Bootsrap</div>		
		<div class="bs--menu bs--menu-border">
		  <a class="bs--menu-item" href="/admin"><div class="icon-gauge"></div>Dashboard</a>
		  <a class="bs--menu-item" href="/"><div class="icon-home"></div>Homepage</a>
		  <a class="bs--menu-item" href="https://github.com/BastienSozeau/BS_bootstrap" target="_blank"><div class="icon-github"></div>Github</a>
		</div>

	</header>
	<div class="wrapper">
		{% block page_content %}{% endblock %}
	</div>
{% include "footer.html" %}